/* text center */
.text-center{
    text-align: center;
}

.heading-small {
    font-size: 1.25rem;
}

.heading-medium {
    font-size: 1.5rem;
}

.heading-big{
    font-size: 1.75rem;
}
/* Colors */
 .bg-dark-blue {
    background: #062e51 ;
 }
 .bg-light-blue{
    background: #336ea2;
 }

 .container {
    max-width: 1100px;
    margin: 0 auto;
 }

/*Bottons*/

 .btn{
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing:1px;
}

.btn:hover{
    background-color: gray;
}

.btn-dark{
    background-color: #062e51;
}
.btn-dark:hover{
    background-color: #336ea2;
}

.btn-light{
    background-color: #336ea2;
}
.btn-light:hover{
    background-color: #062e51;
}

/*Forms*/
.form-group{
    padding: 0.25rem 0;
}

.form-group label{
    display: block;
}

.form-control{
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none;
    border-radius: 5px;
}

